// Roboto Fonts import
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

// Variables
$primary-color: #e4c1ae;
$dark_1_color: #121212;
$background_white: white;
$primary_font_family: "Roboto", sans-serif;

// Mixins
@mixin text_base {
  font-family: $primary_font_family;
  font-style: normal;
  color: $dark_1_color;
}
@mixin header {
  @include text_base;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}
@mixin paragraph {
  @include text_base;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
@mixin button_style {
  padding: 16px 40px;
  width: 128px;
  height: 48px;
  border-radius: 32px;
  font-family: $primary_font_family;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $background_white;
  border: none;
  cursor: pointer;
  &:hover {
    filter: brightness(80%);
  }
}

* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  width: 100%;
  height: 100vh;
  main {
    width: 1440px;
    height: 960px;
    margin: auto;
    position: relative;
    background-color: $background_white;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

// Desktop - Section
section.container {
  width: 100%;
  height: 100%;
  figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    div.image {
      width: 505px;
      height: 330px;
      overflow: hidden;
      position: absolute;
      left: 230px;
      top: 96px;
      img {
        width: 505px;
        height: auto;
        margin: -3px 0 -3px 0;
      }
    }
    div.content {
      width: 380px;
      height: 250px;
      position: absolute;
      left: 830px;
      top: 136px;
      h1 {
        @include header;
        width: 380px;
        height: 50px;
        margin-top: 0;
        margin-bottom: 24px;
      }
      p {
        @include paragraph;
        width: 380px;
        height: 96px;
      }
      button#open-modal {
        @include button_style;
        background-color: #e4c1ae;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

// Desktop - Alert
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; // Full width of the <main> !
  height: 100%; // Full height of the <main> !
  overflow: auto;
  background-color: rgba($dark_1_color, 0.5);
  animation-name: fadeIn;
  animation-duration: 1.5s;
  .modal-body {
    color: $dark_1_color;
    width: 920px;
    height: 210px;
    left: 260px;
    top: 375px;
    position: absolute;
    background-color: $background_white;
    border: none;
    // The Main Content
    .modal-content {
      .modal-header {
        @include header;
        position: absolute;
        width: 380px;
        height: 50px;
        left: 95px;
        top: 56px;
        margin: 0;
      }
      .modal-text {
        @include paragraph;
        position: absolute;
        width: 380px;
        height: 24px;
        left: 95px;
        top: 130px;
        margin: 0;
        span#spanCounter {
          font-weight: 600;
        }
      }
    }
    // The Close Button
    .close-modal {
      border: none;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 40px;
      top: 40px;
      cursor: pointer;
      &:before,
      &:after {
        position: absolute;
        left: 11px;
        top: 6px;
        content: "";
        height: 12px;
        width: 2px;
        background-color: black;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
      &:hover,
      &:focus {
        filter: brightness(120%);
      }
    }
    // The Reset Button
    button.button-reset {
      @include button_style;
      background-color: #ae36f3;
      position: absolute;
      bottom: 56px;
      right: 40px;
    }
  }
}

// FadeIn Animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// MediaQueries
@media only screen and (max-width: 1200px) {
  body {
    background-color: pink;
  }
}
@media only screen and (max-width: 992px) {
  body {
    background-color: red;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: blue;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}
